<div class="introduction">
    <div class="wrapper home-center">
        <h1>Hi. I'm Matt.</h1>
        <p>I'm a software developer by trade, with special attention given toward mobile apps. I'm also a music enthusiast and news junkie. Please take a look around this website to get to know me!</p>
        <br/>
        <div class="about-me-links">
            <a class="button" href="/about">More About Me      <i class="fas fa-arrow-right"></i></a>
            <a class="button" href="/portfolio">View Portfolio      <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>