<footer class="site-footer">
    <div class="personal-links">
      <!-- Github -->
      <a href="https://github.com/mattwyskiel">
        <svg class="link-icon" viewBox="0 0 16 16">
          <use xlink:href="/assets/minima-social-icons.svg#github"></use>
        </svg>
      </a>

      <!-- Linkedin -->
      <a href="https://www.linkedin.com/in/mattwyskiel/">
        <svg class="link-icon" viewBox="0 0 16 16">
          <use xlink:href="/assets/minima-social-icons.svg#linkedin"></use>
        </svg>
      </a>

      <!-- Twitter -->
      <a href="https://twitter.com/mattwyskiel">
        <svg class="link-icon" viewBox="0 0 16 16">
          <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
        </svg>
      </a>

      <!-- Instagram -->
      <a href="https://instagram.com/mattwyskiel">
        <svg class="link-icon" viewBox="0 0 16 16">
          <use xlink:href="/assets/minima-social-icons.svg#instagram"></use>
        </svg>
      </a>

    </div>
    <div class="copyright">
        <span>Copyright &copy; {{ site.time | date: "%Y" }}<a class="blank-link" href="https://github.com/{{ site.github_username }}">{% if page.author %} {{ page.author }}{% else %} {{ site.title }}{% endif %}</a></span>
    </div>
</footer>